// Configure your import map in config/importmap.rb. Read more: https://github.com/rails/importmap-rails
import "@hotwired/turbo-rails"
import "controllers"


import "plugins.bundle"
import "scripts.bundle"
import "fullcalendar.bundle"
import "datatables.bundle"
import "widgets.bundle"
import "widgets"
import "softmedical"